<!DOCTYPE html>
<html>
    <head>
        <title>My first Vue app</title>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <!-- {{ message }}
            <p v-bind:title="title">This is title</p>
            <strong v-if="check">Show or hidden</strong>
            <div> All cities:
                <ul>
                    <li v-for="city in cities">{{city}}</li>
                </ul>
            </div>
            <button v-on:click="changeMessage">Click to change message!</button>
            <br>
            <br>
            <input type="" name="" v-model="message">
            <ul>
                <app-nav v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id">

                </app-nav>
            </ul> -->

            <h1>{{editInfor('Good morning')}}</h1>
            <ul>
                <li>Name: {{name}}</li>
                <li>Age: {{age}}</li>
            </ul>
            <br>
            <br>
            <h2>Data Binding</h2>
            <a v-bind:href="bongdaso">Bongdaso.com</a>
            <br>
            <a :href="bongdaso">Bongdaso.com</a>
            <br>
            <br>
            <h2>Event</h2>
            <!-- <button v-on:click="age++">Add a year</button>
            <button v-on:click="age--">Subtract a year</button> -->

            <button v-on:click="addYear">Add a year</button>
            <button v-on:click="subYear">Subtract a year</button>
        </div>
        <div id="example">
            <p>Message:{{message}}</p>
            <p>Computed:{{changeMessage}}</p>
            <br>
            <br>
            <h4>{{a}},{{b}}</h4>
            <button v-on:click="a++">Add a number</button>
            <button v-on:click="b--">Subtract a number</button>
            <br>
            <br>
            <p>Add A: {{addNumberA}}</p>
            <p>Add B: {{addNumberB}}</p>
        </div>
        <div id="conditional">
            <h2>Conditional</h2>
            <button @click="error = !error">Toggle Error</button>
            <p v-if="error">Error</p>
            <p v-show="!error">Error show</p>
            <br>
            <br>
            <app-element></app-element>
        </div>
        <div id="loop">
            <h2>Loop For</h2>
            <ul v-for="pro in profile">
                <li>Name:{{pro.name}} ------ Age:{{pro.age}}</li>
            </ul>
            <br>
            <br>
            <app-element></app-element>
            <input type="text" name="name" ref="name">
            <button @click="readRefs"> Read Refs</button>
            <strong>Result output: {{value}}</strong>
        </div>
        <script src="app.js"></script>
    </body>
</html>